.formula {
  font-size: 2em;
  font-weight: 100;
  font-style: italic;
  font-family: var(--serif-font);
}

main {
  display: flex;
  flex-direction: column;
}

main > * {
  padding: 1rem;
  margin: 0.9rem;
  background-color: var(--accent-bg);
  border-radius: var(--radius);
}

main p {
  margin: 0;
}

table {
  table-layout: fixed;
  border-spacing: 0.125rem 0.125rem;
  border-collapse: collapse;
  width: 100%;
  display: table;
  border-color: var(--gray);
}

table caption {
  font-size: calc(var(--base-font-size) * 1.25);
  margin-top: calc(var(--spacing-5) * var(--golden-ratio));
}

table thead tr th {
  border-width: 0 0 2px;
}

table td {
  font-size: calc(var(--base-font-size) * 0.85);
  border: 1px solid var(--gray-light);
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
