fieldset {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bolder;
  font-size: 0.9rem;
  margin-left: 1em;
}

label.required::before {
  content: '*';
  color: var(--red);
  font-size: 1.4rem;
  position: relative;
  vertical-align: middle;
  bottom: -0.15em;
  margin: 0.4em;
  line-height: 5px;
}

label::after {
  content: ':';
}

input,
textarea,
select {
  font-size: calc(val(--font-size) * 1.12);
  font-family: sans-serif;
  font-weight: 100;
  color: var(--black);
  padding: 0.6em 1em;
  border: 2px solid var(--border);
  border-radius: var(--radius);
}

.field-error {
  border: 2px solid var(--red);
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--gray-light);
}

textarea {
  resize: vertical;
}

.separation {
  padding: 0 1em;
  font-size: 2em;
  font-weight: 100;
  color: var(--gray-light);
  position: relative;
  bottom: -0.08em;
}

a,
a button,
button,
[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'] {
  border: none;
  border-radius: var(--radius);
  background: none;
  text-decoration: underline;
  color: var(--accent);
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline;
  transition: 0.4s;
}

a:hover,
a button:hover,
button:hover,
[role='button']:hover,
input[type='submit']:hover input[type='reset']:hover,
input[type='button']:hover {
  opacity: 0.8;
}

.disabled,
a button[disabled],
button[disabled],
[role='button'][aria-disabled='true'],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled],
input[type='checkbox'][disabled],
input[type='radio'][disabled],
select[disabled] {
  cursor: default;
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.5s;
  text-decoration: none !important;
  pointer-events: none;
}

.disabled:hover,
a button[disabled]:hover,
button[disabled]:hover,
[role='button'][aria-disabled='true']:hover,
input[type='submit'][disabled]:hover,
input[type='reset'][disabled]:hover,
input[type='button'][disabled]:hover,
input[type='checkbox'][disabled]:hover,
input[type='radio'][disabled]:hover,
select[disabled]:hover {
  opacity: 0.5;
}

input[type='color'] {
  padding: 0;
  width: 38px;
  height: 38px;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  background-color: var(--disabled);
}

.btn {
  font-size: 1.1rem;
  background: var(--gray);
  border: 1px solid var(--gray-dark);
  border-radius: var(--radius);
  padding: 0.6em 1.2em;
  color: var(--white);
  text-decoration: none;
}

.btn-primary {
  background: var(--primary);
  border: 1px solid var(--primary);
}

.btn-link {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--accent);
}
