/* small(sm) */
@media screen and (max-width: 765px) {
  p {
    font-size: 1.2em;
  }

  h1 {
    font-size: 3.346rem;
  }

  h2 {
    font-size: 2.905rem;
  }

  h3 {
    font-size: 2.461rem;
  }

  h4 {
    font-size: 2.023rem;
  }

  h5 {
    font-size: 1.582rem;
  }

  h6 {
    font-size: 1.14rem;
  }
}

/* medium(md) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* normal(nm) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

/* large(lg) */
@media screen and (min-width: 1280px) and (max-width: 1535px) {
}

/* big(bg) */
@media screen and (min-width: 1536px) {
}
